@import url("https://fonts.googleapis.com/css?family=Lilita+One");
body { width: 100%; margin: 0; }

header { font-family: 'Lilita One', cursive; text-align: center; border: #853500 5px solid; margin: 0; background: -webkit-linear-gradient(#853500, black); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

canvas { z-index: 0; display: block; margin: auto auto; -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: -webkit-transform 0.2s; transition: -webkit-transform 0.2s; transition: transform 0.2s; transition: transform 0.2s, -webkit-transform 0.2s; }

canvas:active { -webkit-transform: scale(0.98); transform: scale(0.98); }

canvas:hover { -webkit-transform: rotate(20deg); transform: rotate(20deg); }

canvas:hover:active { -webkit-transform: scale(0.98); transform: scale(0.98); }

.nbr { display: block; position: absolute; left: 45vw; bottom: 5%; font-family: 'Lilita One', cursive; }

.msg { font-family: 'Lilita One', cursive; font-size: 2vw; color: white; background-color: #853500; position: absolute; left: 0; bottom: 0; width: 35%; -webkit-box-shadow: inset 0px 0px 85px black; box-shadow: inset 0px 0px 85px black; text-shadow: black 0 1px 0; }

.fonctions { display: block; }

.fonctions .clic { left: 5%; position: absolute; display: none; -webkit-box-shadow: inset 0px 1px 0px 0px #853500; box-shadow: inset 0px 1px 0px 0px #853500; border-radius: 3px; border: 1px solid #853500; cursor: pointer; color: white; font-size: 2vw; text-decoration: none; text-shadow: 0px 1px 0px #853500; background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #853500), to(black)); background: linear-gradient(to bottom, #853500 5%, black 100%); background-color: #853500; -webkit-box-shadow: 2px 2px 2px black; box-shadow: 2px 2px 2px black; }

.fonctions .clic:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #853500), to(black)); background: linear-gradient(to bottom, #853500 5%, black 100%); background-color: #853500; color: #853500; -webkit-box-shadow: 2px 2px 2px black; box-shadow: 2px 2px 2px black; }

.fonctions .clic:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), to(#853500)); background: linear-gradient(to bottom, black 50%, #853500 100%); margin-top: 1px; }

.fonctions .clic:focus { border: 0px; }

.fonctions .auto { left: 47.5%; position: absolute; z-index: 5; display: none; display: none; -webkit-box-shadow: inset 0px 1px 0px 0px #853500; box-shadow: inset 0px 1px 0px 0px #853500; border-radius: 3px; border: 1px solid #853500; cursor: pointer; color: white; font-size: 2vw; text-decoration: none; text-shadow: 0px 1px 0px #853500; background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #853500), to(black)); background: linear-gradient(to bottom, #853500 5%, black 100%); background-color: #853500; -webkit-box-shadow: 2px 2px 2px black; box-shadow: 2px 2px 2px black; }

.fonctions .auto:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #853500), to(black)); background: linear-gradient(to bottom, #853500 5%, black 100%); background-color: #853500; color: #853500; -webkit-box-shadow: 2px 2px 2px black; box-shadow: 2px 2px 2px black; }

.fonctions .auto:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), to(#853500)); background: linear-gradient(to bottom, black 50%, #853500 100%); margin-top: 1px; }

.fonctions .auto:focus { border: 0px; }

.fonctions .bonus { right: 5%; position: absolute; display: none; display: none; -webkit-box-shadow: inset 0px 1px 0px 0px #853500; box-shadow: inset 0px 1px 0px 0px #853500; border-radius: 3px; border: 1px solid #853500; cursor: pointer; color: white; font-size: 2vw; text-decoration: none; text-shadow: 0px 1px 0px #853500; background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #853500), to(black)); background: linear-gradient(to bottom, #853500 5%, black 100%); background-color: #853500; -webkit-box-shadow: 2px 2px 2px black; box-shadow: 2px 2px 2px black; }

.fonctions .bonus:hover { background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #853500), to(black)); background: linear-gradient(to bottom, #853500 5%, black 100%); background-color: #853500; color: #853500; -webkit-box-shadow: 2px 2px 2px black; box-shadow: 2px 2px 2px black; }

.fonctions .bonus:active { background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), to(#853500)); background: linear-gradient(to bottom, black 50%, #853500 100%); margin-top: 1px; }

.fonctions .bonus:focus { border: 0px; }

.plein_ecran { position: absolute; bottom: 0; right: 0; margin: 0; padding: 1px; height: 2.1vw; }
/*# sourceMappingURL=cookie.css.map */